[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0"
clap = { version = "4.4", features = ["derive"] }
reqwest = { version = "0.13", features = ["blocking"] }
zip = "7"
fs_extra = "1.3"
dirs = "6.0.0"